@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'omyu_pretty', sans-serif;
}

li {
    list-style-type: none;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

body {
    display: grid;
    grid-template-rows: 2fr 8fr;
    grid-template-columns: 4fr 6fr;
    grid-template-areas:
    "header dateContainer"
    "inputDoList showListContainer";
    width: 100vw;
    height: 100vh;
    background-color: #EEE9E6;
}

header {
    grid-area: header;
    margin-left: 32px;
    font-size: 20px;
}

header h1 {
    margin-top: 30px;
}

.dateContainer {
    grid-area: dateContainer;
}

.dateContainer .date {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 16px;
    background-color: #C6CDD5;
    border-radius: 15px;
    font-size: 20px;
}

.inputDoList {
    grid-area: inputDoList;
}

.inputDoList form {
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    height: 90%;
    margin-left: 32px;
    border-radius: 15px;
    background-color: #E7D5D5;
}

.inputDoList form label {
    margin: 50px 32px 24px 32px;
    font-size: 20px;
}

.inputDoList form input {
    width: 80%;
    height: 50px;
    margin: 0 32px 24px 32px;
    padding: 8px 12px;
    border: 2px dotted #E7D5D5;
    border-radius: 10px;
    font-size: 20px;
}

.inputDoList form input:focus {
    outline: none;
}

.inputDoList form button {
    margin: 0 32px 24px 32px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #CE9C9D;
    font-size: 20px;
}

.showListContainer {
    grid-area: showListContainer;
}

.showListContainer .showList {
    width: 80%;
    height: 90%;
    padding: 24px 12px;
    border-radius: 15px;
    background-color: #d1c7cd;
}
